<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
        <property name="hibernate.connection.url">jdbc:mysql://localhost/new_schema</property>
       <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="show_sql">true</property>

        <mapping resource="Player.xml"></mapping>
        <mapping resource="Team.xml"></mapping>
        <mapping resource="Formation.xml"></mapping>
        <mapping resource="Resultado.xml"></mapping>
        <mapping resource="Tournament.xml"></mapping>
        <mapping resource="Match.xml"></mapping>
		
    </session-factory>
</hibernate-configuration>